<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="GET" action="/get">
    get-key1:<br>
    <input type="text" name="get-key1" value="get-value1">
    <br>
    get-key2:<br>
    <input type="text" name="get-key2" value="get-value2">
    <br>
    <input type="submit" value="Submit">
</form>
<br>
<form method="POST" action="/post">
    post-key1:<br>
    <input type="text" name="post-key1" value="post-value1">
    <br>
    post-key2:<br>
    <input type="text" name="post-key2" value="post-value2">
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>


