<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/d3/4.13.0/d3.min.js"></script>
</head>
<body>
<input type="text" value=1 name="fname" />
<input type="button" value="提交" onclick="a()" />
<script>
a=function(){
    data = d3.select('input').node().value  //获得input标签的内容,d3.js没有提供input标签获取方法,所以要转换为js原生方法
    console.log(data)
    d3.json("http://127.0.0.1:5000/index")  //  填入url
        .header("Content-Type", "application/json") //  将内容类型设置为json
        .post(
            JSON.stringify({"data": data}),  //  第一个参数是设置post上传的data内容
            function(err, data){console.log(data['username'])}  //第二个参数是回调函数
        );
    }
</script>
</body>
</html>